body {
    margin: 0;
    overflow-x: hidden;
}
p {
    margin: 0;
}
.page {
    background-color: black;
    height: 550vh;
}
.start_header {
    display: flex;
    height: 5vh;
    width: 100vw;
    background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.navigation {
    background-color: black;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
nav {
    height: 5vh;
    width: 66.6vw;
}
.logo {
    margin-left: 5vw;
    width: 15vw;
    height: 5vh;
}
.links {
    height: 5vh;
    width: 35vw;
    margin-right: 7vw;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
}
a {
    text-decoration: none;
    color: #848895;
}
.start_main {
    height: 65vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.start_footer {
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head_text {
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 0.68px;
    color: #FFFFFF;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.left_button {
    margin-right: 2vw;
    width: 181px;
    height: 52px;
    background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%);
    border: 1px solid #000000;
    border-radius: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.right_button {
    width: 146px;
    height: 52px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.start_footer_text {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 7vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #618ADC;
}
.sponsor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 5vh;
}
.content {
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box {
    height: 180vh;
    width: 70vw;
}
.content-top {
    display: flex;
    height: 90vh;
}
.text-left {
    width: 35vw;
    height: 90vh;
}
.text-right {
    width: 35vw;
    height: 90vh;
}
div.page > .content > .content-box > .content-top > .text-left > p {
    margin-top:5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 1px;
    color: #FFFFFF;
}
div.page > .content > .content-box > .content-top > .text-right > p:nth-child(2n+1) {
    height: 132px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 101px;
    line-height: 132px;
    background: linear-gradient(261.81deg, #19FB9B -8.01%, #8C01FA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
div.page > .content > .content-box > .content-top > .text-right > p:nth-child(2n+2){
    height: 28px;
    margin-bottom: 5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #C4C4C4;
}
.content-bottom{
    display: flex;
    height:90vh;
}
.textbox{
    height:90vh;
    width:calc(70vw/3);
}
div.page > .content > .content-box > .content-bottom > .textbox:nth-child(1) > p:nth-child(1){
    margin-top:5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}
div.page > .content > .content-box > .content-bottom > .textbox:nth-child(1) > p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-top: 2vh;
}
div.page>.content>.content-box>.content-bottom>.textbox>.text-box>p:nth-child(odd){
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}
div.page>.content>.content-box>.content-bottom>.textbox>.text-box>p:nth-child(even){
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #C4C4C4;
}
div.page>.content>.content-box>.content-bottom>.textbox:nth-child(2)>.text-box{
    margin:9vh 10vh 1vh 1vh;
}
div.page>.content>.content-box>.content-bottom>.textbox>.text-box>p{
    margin-bottom:2vh;
}
div.page>.content>.content-box>.content-bottom>.textbox:nth-child(3)>.text-box{
    margin-bottom:10vh;
}
.linkbox{
    color: #19FB9B;
}
.any {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.any-box{
    height:70vh;
    width: 70vw;
}
.any-head{
    height:6vh;
    width:70vw;
    display: flex;
    justify-content: space-between;
}
.any-h{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.any-nav{
    width:28vw;
    height:6vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.any-button{
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 14px 10px 14px;
    background: #111111;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
}
div.page>.any>.any-box>.any-head>.any-nav>.any-button:nth-child(1){
    border: 1px solid #A962FF;
}
.any-images{
    margin:4vh 0;
    height:50vh;
    width:70vw;
    background-color: black;
    display: flex;
}
.any-left{
    height:50vh;
    width:35vw;
    background-image: url("image/IMAGE (1).png");
    background-size: cover;
}
.any-right{
    background-color: #232222;
    height:29vh;
    width:22vw;
    padding: 68px 150px 90px 50px;
}
.any-logo{
    width: 240px;
    height: 52.57px;
    left: 45px;
    top: 94.65px;
    margin-bottom:2vh;
}
.any-column{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
    margin-bottom:2vh;
    color: #FFFFFF;
}
.any-links{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #A962FF;
    font-family: 'Roboto', sans-serif;
}
.any-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
}








